<div class="container mt-4">
<h1>Restaurants
  <ul class="list-group mt-3">
    <% @restaurants.each do |restaurant| %>
    <li class="list-group-item">
      <%= restaurant.name %>
    </li>
    <% end %>
  </ul>
</h1>
<%= link_to "Add Restaurant", new_restaurant_path, class: "btn btn-primary mb-3" %>
</div>
